body
{
    text-align: center;

}
#apps
{
    background-color: lightskyblue;
}
#games
{
    background-color: aquamarine;
}
#myCarousel
{
    background-color: blueviolet;
}
h1
{
    font-family: Bernard;
    text-decoration: underline;
    text-align: center;
}
.line
{
    background-color: blueviolet;
    height: 5px;
    width: 60;
}
#myCarousel img
{
    height: 400px;
    margin-top: 40px;
} 
.carousel-inner
{
    margin-top: 20px;
    color:aquamarine;
    font-size: 20px;
}   
